<div class="container">
<div  class="image">
</div>

<div class="about-section" >
    <h1>About Us Company</h1>
    <p>Cheese is nutritious food made mostly from the milk of cows but also other mammals,
         including sheep, goats, buffalo, reindeer, camels and yaks. 
         Around 4000 years ago people have started to breed animals and process their milk. 
         That's when the cheese was born.
         Explore this site to find out about different kinds of cheese from all around the world.</p>
 </div>

</div>




  
 
  