
.image{
<<<<<<< HEAD
    background-image:url('../Imagen/pexels-pixabay-273214.jpg');
    height:30em; background-size:cover; 
    width:100%;
  
  }

  .image1{
    background-image:url('../Imagen/annika-palmari-RIt88XBR3G0-unsplash.jpg');
    height:33em; background-size:cover; 
    width:100%;

  }
  .image2{
    background-image:url('../Imagen/edward-cisneros-_H6wpor9mjs-unsplash.jpg');
    height:33em; background-size:cover; 
    width:100%;

  }
  .image3{
    background-image:url('../Imagen/alex-starnes-PK_t0Lrh7MM-unsplash.jpg');
    height:33em; background-size:cover; 
    width:100%;

  }

p{
    font-size: 23px;
}
h4{
  text-align: center;
   

}
/*.card-body{
  max-width: auto;
  height: auto;
}*/


.a-box {
  display: inline-block;
  width: 240px;
  text-align: center;
  justify-content: space-between;
  align-content: center;
}

.img-container {
    height: 230px;
    width: 200px;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
    display: inline-block;
}

.img-container img {
    transform: skew(0deg, -13deg);
    height: 250px;
    margin: -35px 0px 0px -70px;
}

.inner-skew {
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
    transform: skew(0deg, 13deg);
    font-size: 0px;
    margin: 30px 0px 0px 0px;
    background: #c8c2c2;
    height: 250px;
    width: 250px;
}

.text-container {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

.text-container h3 {
  margin: 20px 0px 10px 0px;
  color: #04bcff;
  font-size: 18px;
}
.container{
  align-content: center;
  margin-top: auto;
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between;
  padding: 2px; /* switched from default (flex-start, see below) */
=======
background-image:url('../Imagen/pexels-pixabay-273214.jpg');  
width: 300%;
height:33em; background-size:cover; 
float: left;
margin-right: 15px;
border-radius: 3px;
  }

  .about-section{
    float: right;
    margin-right: 15px;
    align-items: center;

 }
    
 .container {
    display: flex;
    justify-content: center;
}
p{
    font-size: 23px;
>>>>>>> 8f1de1435be29af79b5349515dfe4a309b7ee56d
}