
<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Welcome to our shop</h1>
        <p class="lead"> When we think Cheese, we think of quality, artisan made products that can be appreciated by all. This is why we want the name ‘The Palace Cheese Company’ to become synonymous with award winning quality.
            The tantalising flavours to the tastes of our childhoods where cheese on toast carried not only the cheese flavour but textures that caused us all to fall in love with the product is what we aim to bring back! As a nation of cheese lovers (the posh name is Turophile), we have become accustom to bland, mass produced products. This is our main driving force and passion. .</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            <button type="button" class="btn btn-secondary btn-lg px-4" routerLink="/contact">Contact us</button>

        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3 imagenTop" >
      </div>

    </div>

  </div>

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Our best cheese brands</h1>
        <p class="lead">Get our best cheese at a great price,
            So creamy and full of richness it's a cheese in your mouth. Bon appetite!
    
            It doesn't matter if the cheese is Danish, Cheddar, Mozzarela or Smoked, they always say present at your table. May the richness of dairy accompany you!
           
            If you want to maintain a healthy lifestyle, a cheese is what you should find. Live healthy! .</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">

        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3 imagenCinco" >
      </div>

    </div>

  </div>
      <!---heros section-->
      <div class="px-6 py-6 my-6 text-center ">
        <img class="d-block mx-auto mb-4" class="imagenUno" alt="" >
        <h1 class="display-5 fw-bold">Our best care for our best products</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            Good things are best created together. Numerous alpine dairies around Kempten in the Allgäu region also knew this when they joined forces in 1906 to form the Stegmann cheese dairy. The name soon became synonymous with the best Emmental cheese. A demand for quality that remains the top priority with every change to this day. With the takeover by MEGGLE GmbH & Co. KG in 2021, two Bavarian companies with a successful, decades-long history joined forces. </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          </div>
     
        </div>  </div>
      
      <div class="px-6 pt-6 my-6 text-center border-bottom">
        <h1 class="display-4 fw-bold">Our diversity in cheese</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-9">Goat cheese can be the best ally if you are looking to lead a healthy life. And there are many beneficial properties that cheeses made with goat milk can provide us. Lactose: Goat cheeses contain less lactose, approximately 1% less than the rest of the cheeses. For all these reasons, they are much easier to defer and it is perfect for all those people who show some type of intolerance towards dairy products.</p>
         
        </div>
        <div class="overflow-hidden" style="max-height: 70vh;">
          <div class="container px-5">
            <img  class="imagenDos border rounded-2 shadow-lg mb-3">
          </div>
        </div>
      </div>
        
      <div class="container col-xxl-6 px-3 py-4"  >
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img class="d-block mx-lg-auto imagenTres"  width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Our new cheese 25% discount</h1>
            <p class="lead">Get a 25% discount on your first purchase.</p>
            <p class="lead">Appenzeller cheese is very easy to melt, so it is common to use it when preparing a raclette. It is also perfect to accompany it on a cheese board and simply accompany it with bread and honey. When pairing it, we can use white wines such as Rieslin, which are slightly sweet, in order to balance the acidity that the cheese can provide.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-secondary btn-lg px-4" routerLink="/product">Go</button>
            </div>
          </div>
        </div>
      </div>
        
      <div class="container my-2">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
          <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">AROUND THE TABLE</h1>
            <p class="lead">If this table could speak, the stories it could tell. Centered at the heart of the home, it’s a sacred place where families plan adventures, craft dreams, study for mid-terms, and learn to use crayons to color their imaginations.
                Generations-old traditions are taught here. Grandma’s treasured recipes shared with family and friends. At the table, the warm aroma fills the air while bursts of laughter call you closer. From joys to sorrow, the kitchen table bears the patina of the fullness of life..</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            </div>
          </div>
          <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
              <img class="rounded-lg-3 imagenCuatro" >
          </div>
        </div>
      </div>


      <!-- Cartas-->
      <br>

    <h4 class="display-4 fw-bold lh-1">Our best ratings from our clients...</h4>


<br>


<div class="card-deck">

    <div class="card ">
      <div class="card-body text-center">

        <img class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">Marc Cesz</h4>
          <p class="card-text">I have been buying cheese for 5 years with them and that is one of the best companies that makes cheese with excellent customer service</p>
          <i class="fa fa-star" style="font-size:33px;color:yellow "></i>
          <i class="fa fa-star" style="font-size:33px;color:yellow "></i>
          <i class="fa fa-star" style="font-size:33px;color:yellow "></i>

        </div>
        <i class='far fa-thumbs-up' style='font-size:33px;color:blue'></i>

      </div>
    </div>
    <div class="card ">
      <div class="card-body text-center">
        <img class="card-img-top1"  >
        <div class="card-body">
          <h4 class="card-title">Maria Casta</h4>
          <p class="card-text">I have been buying cheese for 5 years with them and that is one of the best companies that makes cheese with excellent customer service</p>
          <i class="fa fa-star" style="font-size:33px;color:yellow "></i>
          <i class="fa fa-star" style="font-size:33px;color:yellow "></i>
          <i class="fa fa-star" style="font-size:33px;color:yellow "></i>


        </div>
        <i class='far fa-thumbs-up' style='font-size:33px;color:blue'></i>

      </div>
    </div>
    <div class="card ">
      <div class="card-body text-center">
        <img class="card-img-top2"  >
        <div class="card-body">
          <h4 class="card-title">Josefa Rai</h4>
          <p class="card-text">I have been buying cheese for 5 years with them and that is one of the best companies that makes cheese with excellent customer service</p>
          <i class="fa fa-star" style="font-size:33px;color:yellow "></i>
          <i class="fa fa-star" style="font-size:33px;color:yellow "></i>
          <i class="fa fa-star" style="font-size:33px;color:yellow "></i>


        </div>
        <i class='far fa-thumbs-up' style='font-size:33px;color:blue'></i>

        </div>
    </div>
    <div class="card ">
      <div class="card-body text-center">

        <img   class="card-img-top3">


        <div class="card-body">
          <h4 class="card-title">Sara Vande</h4>
          <p class="card-text">I have been buying cheese for 5 years with them and that is one of the best companies that makes cheese with excellent customer service</p>
          <i class="fa fa-star" style="font-size:33px;color:yellow "></i>
          <i class="fa fa-star" style="font-size:33px;color:yellow "></i>
          <i class="fa fa-star" style="font-size:33px;color:yellow "></i>
          

        </div>
        <i class='far fa-thumbs-up' style='font-size:33px;color:blue'></i>

      </div>
    </div>
  </div>
  <div class="b-example-divider mb-0"></div>
  <br>
  <div class="caruselEstilo">
    <app-ngbd-carousel-basic></app-ngbd-carousel-basic> 
  </div>
