.submit-form {
    max-width: 400px;
    margin: auto;
  }
  .btn
   {
    float: right;
<<<<<<< HEAD
    margin-top: 6px;
   }
   h3{
    margin-top: 6px;

 }
=======
   }
>>>>>>> 8f1de1435be29af79b5349515dfe4a309b7ee56d
