
    .image{
        height:150em; background-size:cover; 
        background-image:url('../Imagen/pexels-alexy-almond-3756498.jpg');
        background-position:50% 50%;
        width: 100%;
        
        
      }