/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
body{
   
background-color:whitesmoke;

 
}


@media screen and (max-width: 980px){
    #contenedor{
        width: 90%;
    }
    #contenido{
        width: 60%;
    }
    #barra_lateral{
        width:30%;
    }
}
=======
>>>>>>> 8f1de1435be29af79b5349515dfe4a309b7ee56d
